@font-face {
    font-family: plain-light-webfont;
    src: url('./fonts/plain-light-webfont.woff2');
}

@font-face {
    font-family: silkserif-lightitalic;
    src: url('./fonts/silkserif-lightitalic-webfont.woff2');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: plain-light-webfont;
    color: white;
    /* cursor: none; */
}

html , body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 2.5vw;
    width: 2.5vw;
    border-radius:50% ;
    position: fixed;
    z-index: 1;
    border: 1px solid rgb(209, 206, 206);
    transform: translate(-50% , -50%);
    pointer-events:none;
}

/* .mousefollower {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    border: 1px solid rgb(209, 206, 206);
    background-color: rgba(255, 255, 255, 0);
    transform: translate(-50% , -50%);
    
} */


#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 20vh 8vw;
}

#loader h4 {
    font-size: 1vw;
    width: 6.5vw;
    margin-left: 16vw;
    margin-top: 5vw;
    font-weight: 500;
}

.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}


#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3vw;

}


#line1-part1 h5 ,#line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif-lightitalic;
}

#line1-part1 h5 {
    width: 4vw;
}

.line h1{
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 600;
}

.line h2{
    font-size: 7vw;
    height: 9vw;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.84, 0.51, 0.32, 1);
    
}


@keyframes anime {
    0%{
        font-family: plain-light-webfont;
        opacity: 1;
        -webkit-text-stroke: 0.1px white;
        color: white;
        font-weight: 500;
    }

    47%{
        font-family: plain-light-webfont;
        opacity: 0;
        -webkit-text-stroke: 0.1px white;
        color: white;
        font-weight: 500;
    }

    50%{
        opacity: 1;
        font-family: silkserif-lightitalic;
        -webkit-text-stroke: 0.5px white;
        color: transparent;
        font-weight: 500;
    }

    100%{
        opacity: 0;
        font-family: silkserif-lightitalic;
        -webkit-text-stroke: 0.5px white;
        color: transparent;
        font-weight: 500;
    }
}

#main{
    position: relative;
    background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    margin-bottom: 5vw;
}

#page1 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.3vw 5.5vw;
}

#nav svg{
    margin-top: 1.2vw;
}

#nav .brand__svg{
    margin-left: -60vw;
}

#nav .between {
    position: absolute;
    top: 4vw;
    left: 30vw;
}


#nav .between h5{
    font-size: 1vw;
    font-weight: 500;
    text-transform: capitalize;
}


#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}


#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
    text-transform: capitalize;
}

#nav-part2 h4:hover{
    cursor: none;
}

.hero{
    /* background-color: red; */
    width: 80%;
    margin-left: 26.6%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}


#hero1 h1:before{
    content: "01";
    font-family: silkserif-lightitalic;
    font-weight: 500;
    position: absolute;
    font-size: 3.3vw;
    left: -18%;
    top: -15%;
}



.hero:nth-child(2){
    margin-top: 19.5vh;
}

.hero h1{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
    letter-spacing: 0.5vw;
}




.hero h2 {
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
    letter-spacing: 0.5vw;
    border-bottom: 0.6vw solid white;
    padding-bottom: 0.8vw;
}


.hero h2:hover{
    -webkit-text-stroke: 1px  white;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.6vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    position: relative;
    margin-bottom: 8vw;
}

#video-part1{
    height: 63vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url(./Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}


#video-part1 video{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    opacity: 0;
}

#video-cursor{
    background-color: #FFA63D;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-cursor i{
    font-size: 2vw;

}

#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #2b2222; */
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 20vh;
}


#page3 h1{
    font-size: 7vw;
    position: relative;
    text-transform: uppercase;
    margin-left: 26vw;
}

#page3 .underline{
    margin-left: 25%;
    width: 65vw;
}

#page3 h1:before{
    content: "02";
    font-weight: 500;
    font-size: 3vw;
    position: absolute;
    left: -14%;
    top: 8%;
    font-family: silkserif-lightitalic;
}

#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10vw;
}

#textone{
    position: absolute;
    top: -4%;
    left: 3.5%;
}

#texttwo{
    position: absolute;
    top: -4%;
    left: 30%;
}


#textthree{
    position: absolute;
    top : 56%;
    left: 28%;
}



#textone h2{
    font-size: 3vw;

}

#texttwo h2{
    font-size: 3vw;

}



#textthree h2{
    font-size: 3vw;

}

#describ{
    position: absolute;
    top: 34%;
    left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#describ p{
    width: 50%;
}

#describ1{
    position: absolute;
    top: 41%;
    left: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#describ1 p{
    width: 50%;
}

#describ2{
    position: absolute;
    top: 97%;
    left: 27%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#describ2 p{
    width: 50%;
}

.image-div{
    /* background-color: blue; */
    height: 38vw;
    width: 29vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
}

.underlinee{
    height: 0.1vw;
    width: 23vw;
    background-color: white;
    position: absolute;
    top: 38%;
    left: 3%;
}


.underlinee1{
    height: 0.1vw;
    width: 28vw;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 30%;
}




#firstcontainer{
    height: 30vw;
    width: 22vw;
}


.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-top: 35vh;
    margin-left: 5vh;
    position: relative;

}

.page3-circle1 svg{
    height: 30%;
}


.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content:  center;
    align-items: center;
    position: relative;
    margin-top: 25vh;
}

.page3-circle2 svg{
    height: 30%;
    rotate: -40deg;
}


.image-div:nth-last-child(2){
    margin-top: 40vh;

}


.image-div:nth-last-child(1){
    margin-top: 10vh;

}




.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    scale: 0;
    transition: all 0.3s ease;
}

.circle-in p{
    font-size: 1vw;
    width: 90%;
    color: black;
    font-weight: 600;
    padding: 0vw 3.5vw;
    scale: 0;
    transition: all 1s ease;
}


.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover  p{
    scale: 1;
}



.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover  p{
    scale: 1;
}




#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 5vh;
}

#page4-content{
    width: 70vw;
    margin-left: 25%;
    position: relative;
    /* background-color: red; */
}


#page4-content h1{
    font-size: 7vw;
    position: relative;
    text-transform: uppercase;
}

#page4-content h1:before{
    content: "03";
    font-weight: 500;
    font-size: 3vw;
    position: absolute;
    left: -14%;
    top: 8%;
    font-family: silkserif-lightitalic;
}


#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin : 4vw 0vw;
}

#page4-content>p{
    font-size: 2.3vw;
    width: 55%;
    margin-bottom: 4vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 49%;
}

#page4-flex p{
    width: 27%;
    margin-left: 2vw;
    line-height: 1.5vw;
    font-size: 1vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 34vw;
    padding: 4vw ;
    position: relative;
    top: -29vh;
    left: 25vw;
}

.blue-div-elem{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.671);
    /* background-color: red; */
    padding: 2vw 0;
}

.blue-div-elem p{
    width: 40%;
    font-size: 1vw;
}

.blue-div-elem h4{
    font-size: 1.6vw;
    font-weight: 500;
}

#secondunderline {
    margin-top: -10vh !important;
}

#page5{
    min-height:100vh ;
    width: 100%;
}

#page5 h5{
    margin-left: 24.8vw;
    margin-top: -2vw;
    font-weight: 500;
    font-size: 1vw;
}

.scroll{
    text-transform: uppercase;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.scroll h1{
    font-size: 7vw;
    display: inline-block;
    -webkit-text-stroke: 2px #B8B8B8;
    color: transparent;
    font-weight: 400;
    /* transition: anime1 ease ; */
    animation-name: anime1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    margin-right: 16px;
}


@keyframes anime1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
    
}

.scroll2{
    text-transform: uppercase;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.scroll2 h1{
    font-size: 7vw;
    display: inline-block;
    -webkit-text-stroke: 2px #B8B8B8;
    color: transparent;
    font-weight: 400;
    /* transition: anime1 ease ; */
    animation-name: anime1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: reverse;
    margin-right: 16px;
}


#page5 span{
    font-family: silkserif-lightitalic;
    font-weight: 100;
    -webkit-text-stroke: 2px #B8B8B8;
    color: transparent;   
}

#first{
    margin-top: 5vw;
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin : 4vw 0vw;
}


#footer{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}

#footer h1{
    font-size: 7vw;
    width: 60vw;
    /* background-color: blue; */
    text-transform: uppercase;
    margin-bottom: 4vw;
    position: relative;
    letter-spacing: 0.3vw;
}

#footer-text {
    position: relative;
    /* background-color: red; */
}

#footer-text h2 {
    font-size: 7.2vw;
    text-transform: uppercase;
    position: absolute;
    top: -10%;
    font-weight: 500;
    left: 0;
    font-family: silkserif-lightitalic;
}

#footer-text h2 span {
    font-family: silkserif-lightitalic;
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer-text::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -13%;
    top: 6%;
}


#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    
}

#footer-div .box{
    padding: 4vw 0;
    width: 25%;
}

#footer-div h6{
    font-size: 1vw;
    text-transform: capitalize;
    padding-bottom: 1.5vw;
}

#footer-div h5{
    font-size: 1.8vw;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.8vw;
}

#footer h4{
    font-weight: 500;
    margin-top: -2vw;
}


._canvas_container{
    z-index: 99999 !important;    
    pointer-events: none;
}


#flag{
    height: 30vw;
    position:absolute;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
    opacity: 0;
    pointer-events: none;
}

#hero3{
    z-index: 9999;
    /* background-color: red; */
}


#orange-circle{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-color: #FFA63D;
   margin-left: 50%;
    margin-top: 10vw;
    transform: translate(-50% );
    display: flex;
    justify-content: center;
    align-items: center;
}

#orange-circle p{
    font-size: 1vw;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.1vw;
}

#orange-circle span{
    font-weight: lighter;
    font-family: silkserif-lightitalic;
}
